name: Validate
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * *'  # Daily
  workflow_dispatch:
permissions: {}
jobs:
  validate-hacs:
    runs-on: ubuntu-latest
    steps:
      - name: HACS action
        uses: hacs/action@22.5.0
        with:
          category: lovelace  # For custom cards
